@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(._idroid.otf);
}

body {
    background-color: rgba(71, 255, 160, 0.688);
}

header {
    background-image: linear-gradient(rgba(33, 115, 70, 0.733)13%, #195834 80%);
    margin-top: -23px;
    margin-right: -7px;
    margin-left: -8px;
    color: white;
    
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    text-align: justify;
}

div {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}


nav:hover {
    background-color: rgb(47, 241, 21);
    
}


main {
    background-color: white;    
    width: 800px;
    margin: auto;
    
}

.droid {
    color: #195834;
    font-weight: bold;
}

.droid2 {
    color: #0a351c;
    background-color: #00ff6e9d;
    padding: 2px;
    font-weight: bold;
    
}
     
.nisa {
    background-color: #199e53;
    color: white;
    width: 800px;

}
    
.right {
    text-align: right;
    list-style: none;
}

section {
    background-color: rgba(120, 203, 175, 0.484);
    margin: auto;
    border-radius: 0px;

}

footer {
    text-align: center;
    background-color: #0a351c;
}